<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<header th:fragment="header">
    <div class="header">
        <img th:src="@{/images/icon.png}" style="width: 40px">
        <div class="header_menu">
            <div class="menu_item" th:classappend="${tab == 'main'} ? 'menu_item_active'">
                <a aria-current="page" href="/">Главная</a>
            </div>
            <div class="menu_item" th:classappend="${tab == 'data'} ? 'menu_item_active'">
                <a aria-current="page" href="/data/peers">Данные</a>
            </div>
            <div class="menu_item" th:classappend="${tab == 'operations'} ? 'menu_item_active'">
                <a aria-current="page" href="/operations/00_native_query">Операции</a>
            </div>
        </div>
    </div>
</header>

</body>
</html>