<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/modal.css}">
</head>
<body>

<div th:fragment="del_modal" th:id="'del_modal_'+${row[0]}" class="modal">
    <div class="modal_content">
        <h3 class="modal_header_text">Вы уверены, что хотите удалить данные?</h3>
        <div class="modal_buttons">
            <button class="button_green"
                    type="button"
                    th:attr="onclick=|closeModalAndRedirect('del_modal_${row[0]}', '${table}')|">
                Отменить
            </button>
            <button type="submit" class="button_white">Подтвердить</button>
        </div>
    </div>
</div>

<div th:fragment="save_modal" th:id="'save_modal_'+${table}" style="z-index: 2; padding-top: 5%" class="modal">
    <div class="modal_content">
        <h3 class="modal_header_text"
            th:text="'Вы уверены, что хотите добавить/редактировать данные в таблице '+${table}+'?'">
        </h3>
        <div class="modal_buttons">
            <button class="button_green"
                    type="button"
                    th:attr="onclick=|closeModal('save_modal_${table}')|">
                Отменить
            </button>
            <button type="submit" class="button_white">Подтвердить</button>
        </div>
    </div>
</div>

<div th:fragment="error_modal" th:if="${error} == true" th:id="'erroe_modal'"
     style="z-index: 2; padding-top: 5%; display: block;" class="modal">
    <div class="modal_content">
        <h3 class="modal_header_text">Ошибка в данных. Проверьте заполненные поля.</h3>
        <div class="modal_buttons">
            <button class="button_green" type="button" th:attr="onclick=|closeModal('erroe_modal')|">Ок</button>
        </div>
    </div>
</div>

<div th:if="${table} == 'peers'" th:fragment="peer_add">
    <h3 class="modal_header_text" th:text="'Добавление/редактирование таблицы '+${table}"> </h3>

    <p th:class="modal_p">nickname</p>
    <input class="input_block modal_id"
           th:field="*{nickname}"
           th:readonly="${object.nickname != null}"
           placeholder="Введите текст" type="text" />

    <p th:class="modal_p">birthday</p>
    <input th:class="modal_input" type="date" th:field="*{birthday}"/>
</div>

<div th:if="${table} == 'checks'" th:fragment="check_add">
    <h3 class="modal_header_text" th:text="'Добавление/редактирование таблицы '+${table}"> </h3>

    <p th:if="${object.id != 0}" th:class="modal_p">id</p>
    <input th:if="${object.id != 0}"
           th:field="*{id}"
           class="modal_input modal_id"
           placeholder="Введите текст" type="text" readonly/>

    <p th:class="modal_p">peer</p>
    <select th:class="modal_input" th:field="*{peer}">
        <option th:each="item : ${peers}" th:text="${item.nickname}" th:value="${item.nickname}"></option>
    </select>

    <p th:class="modal_p">task</p>
    <select th:class="modal_input" th:field="*{task}">
        <option th:each="item : ${tasks}" th:text="${item.title}" th:value="${item.title}"></option>
    </select>

    <p th:class="modal_p">check date</p>
    <input th:class="modal_input" type="date" th:field="*{checkDate}"/>
</div>

<div th:if="${table} == 'friends'" th:fragment="friends_add">
    <h3 class="modal_header_text" th:text="'Добавление/редактирование таблицы '+${table}"> </h3>

    <p th:if="${object.id != 0}" th:class="modal_p">id</p>
    <input th:if="${object.id != 0}"
           th:field="*{id}"
           class="modal_input modal_id"
           placeholder="Введите текст" type="text" readonly/>

    <p th:class="modal_p">first peer</p>
    <select th:class="modal_input" th:field="*{peer1}">
        <option th:each="item : ${peers}" th:text="${item.nickname}" th:value="${item.nickname}"></option>
    </select>

    <p th:class="modal_p">second peer</p>
    <select th:class="modal_input" th:field="*{peer2}">
        <option th:each="item : ${peers}" th:text="${item.nickname}" th:value="${item.nickname}"></option>
    </select>
</div>

<div th:if="${table} == 'p2p'" th:fragment="p2p_add">
    <h3 class="modal_header_text" th:text="'Добавление/редактирование таблицы '+${table}"> </h3>

    <p th:if="${object.id != 0}" th:class="modal_p">id</p>
    <input th:if="${object.id != 0}"
           th:field="*{id}"
           class="modal_input modal_id"
           placeholder="Введите текст" type="text" readonly/>

    <p th:class="modal_p">check id</p>
    <select th:class="modal_input" th:field="*{checkId}">
        <option th:each="item : ${checks}" th:text="${item.id}" th:value="${item.id}"></option>
    </select>

    <p th:class="modal_p">checking peer</p>
    <select th:class="modal_input" th:field="*{checkingPeer}">
        <option th:each="item : ${peers}" th:text="${item.nickname}" th:value="${item.nickname}"></option>
    </select>

    <p th:class="modal_p">state</p>
    <select th:class="modal_input" th:field="*{state}">
        <option th:each="item : ${states}" th:text="${item.name}" th:value="${item.name}"></option>
    </select>

    <p th:class="modal_p">time</p>
    <input th:class="modal_input" type="time" step="1" th:field="*{checkTime}"/>
</div>

<div th:if="${table} == 'recommendations'" th:fragment="recommendations_add">
    <h3 class="modal_header_text" th:text="'Добавление/редактирование таблицы '+${table}"> </h3>

    <p th:if="${object.id != 0}" th:class="modal_p">id</p>
    <input th:if="${object.id != 0}"
           th:field="*{id}"
           class="modal_input modal_id"
           placeholder="Введите текст" type="text" readonly/>

    <p th:class="modal_p">Who recommends them?</p>
    <select th:class="modal_input" th:field="*{peer}">
        <option th:each="item : ${peers}" th:text="${item.nickname}" th:value="${item.nickname}"></option>
    </select>

    <p th:class="modal_p">Who is recommended?</p>
    <select th:class="modal_input" th:field="*{recommendedPeer}">
        <option th:each="item : ${peers}" th:text="${item.nickname}" th:value="${item.nickname}"></option>
    </select>
</div>

<div th:if="${table} == 'tasks'" th:fragment="tasks_add">
    <h3 class="modal_header_text" th:text="'Добавление/редактирование таблицы '+${table}"> </h3>

    <p th:class="modal_p">title</p>
    <input class="modal_input modal_id"
           th:field="*{title}"
           th:readonly="${object.title != null}"
           placeholder="Введите текст" type="text"/>

    <p th:class="modal_p">parent task</p>
    <select th:class="modal_input" th:field="*{parentTask}">
        <option th:each="item : ${tasks}" th:text="${item.title}" th:value="${item.title}"></option>
    </select>

    <p th:class="modal_p">max xp</p>
    <input th:class="modal_input" placeholder="Введите число" type="number" min="0" th:field="*{maxXp}"/>
</div>

<div th:if="${table} == 'time_tracking'" th:fragment="time_tracking_add">
    <h3 class="modal_header_text" th:text="'Добавление/редактирование таблицы '+${table}"> </h3>

    <p th:if="${object.id != 0}" th:class="modal_p">id</p>
    <input th:if="${object.id != 0}"
           th:field="*{id}"
           class="modal_input modal_id"
           placeholder="Введите текст" type="text" readonly/>

    <p th:class="modal_p">peer</p>
    <select th:class="modal_input" th:field="*{peer}">
        <option th:each="item : ${peers}" th:text="${item.nickname}" th:value="${item.nickname}"></option>
    </select>

    <p th:class="modal_p">visit date</p>
    <input th:class="modal_input" type="date" th:field="*{visitDate}"/>

    <p th:class="modal_p">visit time</p>
    <input th:class="modal_input" type="time" step="1" th:field="*{visitTime}"/>

    <p th:class="modal_p">state (1 - in, 2 - out)</p>
    <input th:class="modal_input" placeholder="Введите число" type="number"  min="1" max="2" th:field="*{state}"/>
</div>

<div th:if="${table} == 'transferred_points'" th:fragment="transferred_points_add">
    <h3 class="modal_header_text" th:text="'Добавление/редактирование таблицы '+${table}"> </h3>

    <p th:if="${object.id != 0}" th:class="modal_p">id</p>
    <input th:if="${object.id != 0}"
           th:field="*{id}"
           class="modal_input modal_id"
           placeholder="Введите текст" type="text" readonly/>

    <p th:class="modal_p">checking peer</p>
    <select th:class="modal_input" th:field="*{checkingPeer}">
        <option th:each="item : ${peers}" th:text="${item.nickname}" th:value="${item.nickname}"></option>
    </select>

    <p th:class="modal_p">checked peer</p>
    <select th:class="modal_input" th:field="*{checkedPeer}">
        <option th:each="item : ${peers}" th:text="${item.nickname}" th:value="${item.nickname}"></option>
    </select>

    <p th:class="modal_p">number of points</p>
    <input th:class="modal_input" placeholder="Введите число" type="number" min="0" th:field="*{pointsAmount}"/>
</div>

<div th:if="${table} == 'verter'" th:fragment="verter_add">
    <h3 class="modal_header_text" th:text="'Добавление/редактирование таблицы '+${table}"> </h3>

    <p th:if="${object.id != 0}" th:class="modal_p">id</p>
    <input th:if="${object.id != 0}"
           th:field="*{id}"
           class="modal_input modal_id"
           placeholder="Введите текст" type="text" readonly/>

    <p th:class="modal_p">check id</p>
    <select th:class="modal_input" th:field="*{checkId}">
        <option th:each="item : ${checks}" th:text="${item.id}" th:value="${item.id}"></option>
    </select>

    <p th:class="modal_p">state</p>
    <select th:class="modal_input" th:field="*{state}">
        <option th:each="item : ${states}" th:text="${item.name}" th:value="${item.name}"></option>
    </select>

    <p th:class="modal_p">time</p>
    <input th:class="modal_input" type="time" step="1" th:field="*{verterTime}"/>
</div>

<div th:if="${table} == 'xp'" th:fragment="xp_add">
    <h3 class="modal_header_text" th:text="'Добавление/редактирование таблицы '+${table}"> </h3>

    <p th:if="${object.id != 0}" th:class="modal_p">id</p>
    <input th:if="${object.id != 0}"
           th:field="*{id}"
           class="modal_input modal_id"
           placeholder="Введите текст" type="text" readonly/>

    <p th:class="modal_p">check id</p>
    <select th:class="modal_input" th:field="*{checkId}">
        <option th:each="item : ${checks}" th:text="${item.id}" th:value="${item.id}"></option>
    </select>

    <p th:class="modal_p">number of xp</p>
    <input th:class="modal_input" placeholder="Введите число" type="number" min="0" th:field="*{xpAmount}"/>
</div>

</body>
</html>