<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/modal.css}">
</head>
<body>

<div th:fragment="import_modal" th:id="import_modal" class="modal">
    <div class="modal_content">
        <h3 class="modal_header_text" th:text="'Импорт данных в таблицу'"></h3>

        <p th:class="p_input">file</p>
        <label class="input-file">
            <span class="input-file-text input_block" type="text" th:text="'имя файла'"></span>
            <input type="file" accept=".csv" name="file_name">
            <span class="button_green button_file">Выберите файл</span>
        </label>

        <p th:class="p_input">table</p>
        <select th:class="input_block" name="table_name">
            <option th:each="item : ${tables}" th:text="${item}" th:value="${item}"></option>
        </select>

        <input style="display: none" type="text" th:value="${tab}+'/'+${table}" name="page"/>

        <div class="modal_buttons">
            <button class="button_green"
                    type="button"
                    th:attr="onclick=|closeModal('import_modal')|">
                Отменить
            </button>
            <button type="submit" class="button_white">Подтвердить</button>
        </div>
    </div>
</div>

<div th:fragment="export_modal" th:id="export_modal" class="modal">
    <div class="modal_content">
        <h3 class="modal_header_text" th:text="'Экпорт данных из таблицы'"></h3>

        <p th:class="p_input">file name</p>
        <input class="input_block" placeholder="Введите имя для файла" type="text" name="file_name"/>

        <p th:class="p_input">table</p>
        <select th:class="input_block" name="table_name">
            <option th:each="item : ${tables}" th:text="${item}" th:value="${item}"></option>
        </select>

        <input style="display: none" type="text" th:value="${tab}+'/'+${table}" name="page"/>

        <div class="modal_buttons">
            <button class="button_green"
                    type="button"
                    th:attr="onclick=|closeModal('export_modal')|">
                Отменить
            </button>
            <button type="submit" class="button_white">Подтвердить</button>
        </div>
    </div>
</div>

<div th:fragment="export_function_modal" th:id="export_function_modal" class="modal">
    <div class="modal_content">
        <h3 class="modal_header_text" th:text="'Экпорт результат выполнения функции'"></h3>

        <p th:class="p_input">file name</p>
        <input class="input_block" placeholder="Введите имя для файла" type="text" name="file_name"/>

        <input style="display: none" type="text" value="custom" name="table_name"/>

        <input style="display: none" type="text" th:value="${tab}+'/'+${active}" name="page"/>

        <div class="modal_buttons">
            <button class="button_green"
                    type="button"
                    th:attr="onclick=|closeModal('export_function_modal')|">
                Отменить
            </button>
            <button type="submit" class="button_white">Подтвердить</button>
        </div>
    </div>
</div>

<div th:fragment="del_modal" th:id="'del_modal_'+${row[0]}" class="modal">
    <div class="modal_content">
        <h3 class="modal_header_text">Вы уверены, что хотите удалить данные?</h3>
        <div class="modal_buttons">
            <button class="button_green"
                    type="button"
                    th:attr="onclick=|closeModalAndRedirect('del_modal_${row[0]}', '/${tab}/${table}')|">
                Отменить
            </button>
            <button type="submit" class="button_white">Подтвердить</button>
        </div>
    </div>
</div>

<div th:fragment="save_modal" th:id="'save_modal_'+${table}" style="z-index: 2; padding-top: 5%" class="modal">
    <div class="modal_content">
        <h3 class="modal_header_text"
            th:text="'Вы уверены, что хотите добавить/редактировать данные в таблице '+${table}+'?'">
        </h3>
        <div class="modal_buttons">
            <button class="button_green"
                    type="button"
                    th:attr="onclick=|closeModal('save_modal_${table}')|">
                Отменить
            </button>
            <button type="submit" class="button_white">Подтвердить</button>
        </div>
    </div>
</div>

<div th:fragment="error_modal" th:if="${error}" th:id="'error_modal'"
     style="z-index: 2; padding-top: 5%; display: block;" class="modal">
    <div class="modal_content">
        <h3 class="modal_header_text" th:text="${error}">Ошибка в данных. Проверьте заполненные поля.</h3>
        <div class="modal_buttons">
            <button th:if="${operations} == 'create'"
                    class="button_green"
                    type="button"
                    th:attr="onclick=|closeModal('error_modal')|">Ок</button>

            <button th:if="${operations} != 'create'"
                    class="button_green"
                    type="button"
                    th:attr="onclick=|closeModalAndRedirect('error_modal', '/${tab}/${active}')|">Ок</button>
        </div>
    </div>
</div>

</body>
</html>