.header {
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    position: fixed;
    background: #1D2633;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 3px rgba(81, 96, 119, 0.2);
}

.header_menu {
    width: 60%;
    height: 32px;
    display: flex;
    position: relative;
    margin-top: 4px;
    align-items: center;
    justify-content: space-evenly;
}

.menu_item {
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-family: SB Sans Text, serif;
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 2px;
}
.menu_item:hover {
    color: #44EB99;
}
.menu_item a {
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-family: SB Sans Text, serif;
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 2px;
    text-decoration: none;
}
.menu_item a:hover {
    color: #44EB99;
}
.menu_item_active {
    color: #44EB99;
    border-bottom: 2px solid #44EB99;
}
.menu_item_active a {
    color: #44EB99;
}
