<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/table.css" th:href="@{/css/table.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/data.css" th:href="@{/css/data.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/modal.css" th:href="@{/css/modal.css}">
    <script src="../static/js/modal.js" th:src="@{/js/modal.js}"></script>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<br><br>
<ul>
    <li>Проблемы с автогенерацией</li>
    <li>Импорт и экспорт данных для каждой таблицы из файлов/в файлы с расширением .csv</li>
    <li>При создание, если id совпадает у пир и таск он его отредачит, проверка на контаинс?</li>
    <li>Если руками ввести неправильный ид, покажется сломанное модальное окно - нужен метод контаинс</li>
</ul>

<div class="button_row">
    <div class="button_block">
<!--       что дальше?       -->
        <form action="">
            <label class="input-file">
                <input type="file" accept=".csv" name="Импорт">
                <span class="button_white">Импорт</span>
            </label>
        </form>
        <form action="">
            <button class="button_white">Экспорт</button>
        </form>
        <form th:action="@{'/data/'+${table}+'/add'}">
            <button type="submit" class="button_white">Добавить</button>
        </form>
    </div>
</div>

<div th:replace="~{fragments/table_menu :: table_menu}"></div>

<div class="table_block">
    <table>
        <thead>
        <tr th:if="${not #lists.isEmpty(rows)}" class="table_header_raw">
            <th></th>
            <th class="table_header_cell" th:each="col : ${cols}" th:text="${col}"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="table_row table_raw_border" th:each="row : ${rows}">
            <td class="table_cell" th:each="col : ${row}" th:text="${col}"></td>
            <td class="table_cell cell_settings">
                <form th:action="@{'/data/'+${table}+'/{id}' (id=${row[0]})}">
                    <button class="button_green" type="submit">Редактировать</button>
                </form>
            </td>
            <td class="table_cell cell_settings">
                <form th:action="@{'/data/'+${table}+'/delete/{id}' (id=${row[0]})}">
                    <button class="button_green" type="button" th:attr="onclick=|showModal('del_modal_${row[0]}')|">Удалить</button>

                    <!--       delete modal window        -->
                    <div th:id="'del_modal_'+${row[0]}" class="modal">
                        <div class="modal_content">
                            <h3 class="modal_header_text">Вы уверены, что хотите удалить данные?</h3>
                            <div class="modal_buttons">
                                <button class="button_green"
                                        type="button"
                                        th:attr="onclick=|closeModalAndRedirect('del_modal_${row[0]}', '${table}')|">
                                    Отменить
                                </button>
                                <button type="submit" class="button_white">Подтвердить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${#lists.isEmpty(rows)}" th:classappend="'empty_text_block'">
    <h2 th:classappend="'empty_text'" th:text="'Отсутствуют данные в таблице ' + ${table}"></h2>
</div>

<div th:if="${operations} == 'create'" th:id="'create_modal_'+${table}" style="display: block" class="modal">
    <div th:class="modal_content">
        <form th:action="@{'/data/'+${table}}" th:object="${object}" th:method="post">

            <div th:replace="~{fragments/modal_window :: peer_add}"></div>
            <div th:replace="~{fragments/modal_window :: check_add}"></div>
            <div th:replace="~{fragments/modal_window :: friends_add}"></div>
            <div th:replace="~{fragments/modal_window :: p2p_add}"></div>
            <div th:replace="~{fragments/modal_window :: recommendations_add}"></div>
            <div th:replace="~{fragments/modal_window :: tasks_add}"></div>
            <div th:replace="~{fragments/modal_window :: time_tracking_add}"></div>
            <div th:replace="~{fragments/modal_window :: transferred_points_add}"></div>
            <div th:replace="~{fragments/modal_window :: verter_add}"></div>
            <div th:replace="~{fragments/modal_window :: xp_add}"></div>

            <div class="modal_buttons">
                <button type="button"
                        class="button_green"
                        th:attr="onclick=|closeModalAndRedirect('create_modal_${table}', '${table}')|">
                    Отменить
                </button>
                <button type="button"
                        class="button_white"
                        th:attr="onclick=|showModal('save_modal_${table}')|">
                    Сохранить
                </button>

                <div th:replace="~{fragments/modal_window :: save_modal}"></div>
                <div th:replace="~{fragments/modal_window :: error_modal}"></div>
            </div>
        </form>
    </div>
</div>

</body>
</html>