<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/table.css" th:href="@{/css/table.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/data.css" th:href="@{/css/data.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/modal.css" th:href="@{/css/modal.css}">
    <script src="../static/js/modal.js" th:src="@{/js/modal.js}"></script>
</head>
<body>

<header>
    <div class="header">
        <div class="header_menu">
            <div class="menu_item"><a aria-current="page" href="/">Главная</a></div>
            <div class="menu_item menu_item_active"><a aria-current="page" class="active"  href="/data">Данные</a></div>
            <div class="menu_item"><a aria-current="page" href="/operations">Операции</a></div>
        </div>
    </div>
</header>

<br><br>
<ul>Совершать CRUD-операции по всем таблицам</ul>
<ul>При любой модификации таблиц (create, update, delete) приложение должно запрашивать у пользователя подтверждение на осуществление операции</ul>
<ul>После любого вида модификации таблиц пользователю должна выводиться измененная таблица</ul>
<ul>Импорт и экспорт данных для каждой таблицы из файлов/в файлы с расширением .csv</ul>

<div class="button_row">
    <div class="button_block">
<!--        <form action="">-->
            <button class="button_white">Импорт</button>
<!--        </form>-->
<!--        <form action="">-->
            <button class="button_white">Экспорт</button>
<!--        </form>-->
<!--        <form action="">-->
            <button class="button_white">Добавить</button>
<!--        </form>-->
    </div>
</div>

<div class="menu_raw">
    <div class="menu_block">
        <form action="/data/peers">
            <button class="tab" th:classappend="${table == 'peers'} ? 'active_tab'" type="submit" role="tab">Peers</button>
        </form>
        <form action="/data/checks">
            <button class="tab" th:classappend="${table == 'checks'} ? 'active_tab'" type="submit" role="tab">Checks</button>
        </form>
        <form action="/data/friends">
            <button class="tab" th:classappend="${table == 'friends'} ? 'active_tab'" type="submit" role="tab">Friends</button>
        </form>
        <form action="/data/p2p">
            <button class="tab" th:classappend="${table == 'p2p'} ? 'active_tab'" type="submit" role="tab">P2P</button>
        </form>
        <form action="/data/recommendations">
            <button class="tab" th:classappend="${table == 'recommendations'} ? 'active_tab'" type="submit" role="tab">Recommendations</button>
        </form>
        <form action="/data/tasks">
            <button class="tab" th:classappend="${table == 'tasks'} ? 'active_tab'" type="submit" role="tab">Tasks</button>
        </form>
        <form action="/data/time-tracking">
            <button class="tab" th:classappend="${table == 'time_tracking'} ? 'active_tab'" type="submit" role="tab">Time tracking</button>
        </form>
        <form action="/data/transferred-points">
            <button class="tab" th:classappend="${table == 'transferred_points'} ? 'active_tab'" type="submit" role="tab">Transferred points</button>
        </form>
        <form action="/data/verter">
            <button class="tab" th:classappend="${table == 'verter'} ? 'active_tab'" type="submit" role="tab">Verter</button>
        </form>
        <form action="/data/xp">
            <button class="tab" th:classappend="${table == 'xp'} ? 'active_tab'" type="submit" role="tab">XP</button>
        </form>
    </div>
</div>

<div class="table_block">
    <table>
        <thead>
        <tr th:if="${not #lists.isEmpty(rows)}" class="table_header_raw">
            <th></th>
            <th class="table_header_cell" th:each="col : ${cols}" th:text="${col}"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="table_row table_raw_border" th:each="row : ${rows}">
            <td class="table_cell" th:each="col : ${row}" th:text="${col}"></td>
            <td class="table_cell cell_settings">
                <form th:action="@{'/data/'+${table}+'/edit/{id}' (id=${row[0]})}">
                    <button class="button_green" type="submit">Редактировать</button>
                </form>
            </td>
            <td class="table_cell cell_settings">
                <form th:action="@{'/data/'+${table}+'/delete/{id}' (id=${row[0]})}">
                    <button class="button_green" type="button" th:attr="onclick=|showModal('${row[0]}')|">Удалить</button>

                    <div th:id="'del_modal'+${row[0]}" class="modal">
                        <div class="modal_content">
                            <h3 class="modal_text">Вы уверены, что хотите удалить данные?</h3>
                            <div class="modal_buttons">
                                <button class="button_green" type="button"  th:attr="onclick=|closeModal('${row[0]}')|">Отменить</button>
                                <button type="submit" class="button_white">Подтвердить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${#lists.isEmpty(rows)}" th:classappend="'empty_text_block'">
    <h2 th:classappend="'empty_text'" th:text="'Отсутствуют данные в таблице ' + ${table}"></h2>
</div>

</body>
</html>