<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info21</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>

<header>
    <div class="header">
        <div class="header_menu">
            <div class="menu_item menu_item_active"><a aria-current="page" class="active" href="/">Главная</a></div>
            <div class="menu_item"><a aria-current="page" href="/data/peers">Данные</a></div>
            <div class="menu_item"><a aria-current="page" href="/operations">Операции</a></div>
        </div>
    </div>
</header>
<br>
<h1>Поле «О себе», содержащее основную информацию о студенте, выполнившем проект</h1>

</body>
</html>