<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operations</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/operations.css" th:href="@{/css/operations.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/table.css" th:href="@{/css/table.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/modal.css" th:href="@{/css/modal.css}">
    <script src="../static/js/modal.js" th:src="@{/js/modal.js}"></script>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<br><br>

<div class="grid">
    <main>
        <div class="gray_block">
            <div class="white_block">
                <h4 class="zero_margin" th:text="${description}"></h4>
            </div>
        </div>

        <div class="gray_block">
            <div class="white_block">
                <form th:replace="~{fragments/operations_input :: input_form}"></form>
            </div>
        </div>

        <div th:if="${table}" class="table_block">
            <table th:if="${not #lists.isEmpty(table)}" style="width: 96%;">
                <thead>
                <tr th:if="${not #lists.isEmpty(cols)}" class="table_header_raw">
                    <th></th>
                    <th class="table_header_cell" th:each="col : ${cols}" th:text="${col}"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="table_row table_raw_border" th:each="row : ${table}">
                    <td class="table_cell" th:each="col : ${row}" th:text="${col}"></td>
                </tr>
                </tbody>
            </table>

            <div th:if="${#lists.isEmpty(table)}" th:classappend="'empty_text_block'">
                <h2 th:classappend="'empty_text'">По данному запросу нет результата</h2>
            </div>
        </div>
    </main>

    <aside>
        <div class="white_block" style="margin-bottom: 20px">
            <h4 class="title">Нажми чтобы экспортировать результат</h4>
            <form method="POST" enctype="multipart/form-data" action="/download">
                <button class="button_green"
                        style="width: 100px;"
                        type="button"
                        th:attr="onclick=|showModal('export_function_modal')|">Экспорт</button>
                <div th:replace="~{fragments/modal_window :: export_function_modal}"></div>
            </form>
        </div>

        <div class="gray_block" style="gap: 0">
            <h4 class="zero_margin">Функции</h4>
            <div class="line"></div>
            <div class="functions_block">
                <div class="function_block" th:each="func : ${functions}" >
                    <a class="function"
                       th:classappend="${func.key == active} ? 'active'"
                       th:text="${func.value}"
                       th:href="'/operations/'+${func.key}"></a>
                </div>
            </div>
        </div>
    </aside>
</div>

<div th:replace="~{fragments/modal_window :: error_modal}"></div>

</body>
</html>