<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operations</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<header>
    <div class="header">
        <div class="header_menu">
            <div class="menu_item"><a aria-current="page" href="index.html">Главная</a></div>
            <div class="menu_item"><a aria-current="page" href="data.html">Данные</a></div>
            <div class="menu_item menu_item_active"><a aria-current="page" class="active"  href="operations.html">Операции</a></div>
        </div>
    </div>
</header>

<br><br>
<ul>Блок, содержащий все возможные для вызова запросы из проекта SQL2, наименование/краткое описание сути запроса</ul>
<ul>Блок с возможностью самостоятельного ввода пользователем SQL-запроса для работы с данными в базе</ul>

<br>
<ul>Выбор желаемой процедуры / функции / запроса из разработанных в проекте SQL2 с выводом результата и возможность экспорта результата в файл разрешения .csv</ul>
<ul>В случае необходимости введения параметров для выполнения процедуры или функции, графический интерфейс должен предоставлять форму для ввода данных</ul>
<ul>Если введенные аргументы/SQL-запрос были некорректны, то приложение должно обрабатывать подобную ситуацию (выдавать ошибку о некорректности введенных и данных и предлагать повторную попытку ввода)</ul>
<ul>При осуществлении процедур / функций / запросов необходимо вызывать оригинальные хранимые операции, описанные в базе данных на языке SQL</ul>
</body>
</html>